{% from 'macro.html' import device, graph, plot %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>iSystems Lab. Realtime Monitor</title>
    </head>
    <body>
        <div class="vertical container">
            <header>
                <h1>iSystems Lab.Realtime Monitor</h1>
            </header>
            <div class="horizontal container">
                <div id="dashboard">
                    {% for p in graphes %}
                    {{ plot(p[0], p[2]) }}
                    {% endfor %}
                </div>
        		<nav id="panel">
        			<div id="graphes">
        			    <h3>Graphes</h3>
        			    <ol>
                            {% for g in graphes %}
                            {{ graph(g[0], g[1], g[2], g[3]) }}
                            {% endfor %}
        			    </ol>
        			</div>
        			<div id="devices">
        			    <h3>Devices</h3>
                        <ul>
                            {% for d in devices %}
                            {{ device(d[0], d[1], d[2]) }}
                            {% endfor %}
                        </ul>
        			</div>
        		</nav>
            </div>
        </div>

        <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script type="text/javascript" src="https://d3js.org/d3.v3.min.js"></script>
        <script type="text/javascript" src="/static/js/call_ajax.js"></script>
        <script type="text/javascript" src="/static/js/graph/graph.js"></script>
        <script type="text/javascript" src="/static/js/graph/graph_list.js"></script>
        <script type="text/javascript" src="/static/js/realtime.js"></script>
    </body>
</html>
