.container {
    display: flex;
}

.horizontal {
    flex-direction: row;
}

.vertical {
    flex-direction: column;
}

header {
    padding-left: 17px;
}

header h1 {
    margin-top: 10px;
}

#dashboard {
    flex: 5;
}

span.graph-id {
    color: grey;
}

span.device-id {
    color: grey;
}

div[id^=p] {
    display: inline-block;
    margin: 20px;
}

#panel {
    flex: 1;
    background-color: #e3e3e3;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
}

#devices {
    background-color: #f3f3f3;
    padding: 10px;
    margin: 15px;
    border-radius: 10px;
}

#graphs {
    background-color: #f3f3f3;
    padding: 10px;
    margin: 15px;
    border-radius: 10px;
}

.config {
    background-color: white;
    border: 1px solid yellowgreen;
    border-radius: 10px;

    padding: 10px;

    position: fixed;
    z-index: 1;
    top: 25%;
    left: 25%;
}

.config .title {
    display: inline;
}

.config .form {
    width: 50vw;
    height: 50vh;
}

.button-group {
    display: flex;
    justify-content: flex-end;
}

button {
    background-color: yellowgreen;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin: 3px;
}

ul, ol {
    list-style-type: none;
    padding: 0;
}
