<div class="config">
    {% if target[0] == 'd' %}
    <h3 class="title">Device</h3><span class="id">#{{ target[1:] }}</span>
    {% elif target[0] == 'g' %}
    <h3 class="title">Graph</h3><span class="id">#{{ target[1:] }}</span>
    {% endif %}
    <hr class="hr">
    <div class="form">
        <div>
            <h4>Name</h4>
            <input type="text" name="name" value="{{ info[0] }}">
        </div>
        {% if target[0] == 'g' %}
        <div>
            <h4>Order</h4>
            <input type="number" name="order" min="0" max="{{ maximum }}" value="{{ info[1] }}">
        </div>
        <div>
            <h4>Data Load Policy</h4>
            <input type="radio" name="policy" id="duration" class="radio" {% if policy == 'd' %}checked{% endif %}>
            <label for="duration">Duration</label>
            <input type="radio" name="policy" id="start-and-finish" class="radio" {% if policy == 'sf' %}checked{% endif %}>
            <label for="start-and-finish">Start and Finish</label>
            <input type="radio" name="policy" id="data-count" class="radio" {% if policy == 'n' %}checked{% endif %}>
            <label for="data-count">Data Count</label>
            <input type="radio" name="policy" id="none" class="radio" {% if policy == 'x' %}checked{% endif %}>
            <label for="none">Load Whole</label>
        </div>
        <div>
            <label>Duration <input type="number" name="duration" {% if policy == 'd' %}value="{{ info[2] }}"{% endif %} min="0"></label>
            <label>Start <input type="date" name="start" {% if policy == 'sf' %}value="{{ info[3] }}"{% endif %}></label>
            <label>Finish <input type="date" name="finish" {% if policy == 'sf' %}value="{{ info[4] }}"{% endif %}></label>
            <label>Data Count <input type="number" name="data-count" {% if policy == 'n' %}value="{{ info[5] }}"{% endif %} min="0"></label>
        </div>
        {% endif %}
    </div>
    <div class="button-group">
        <button onclick="Config.apply('{{ target }}')">Apply</button>
        <button onclick="Config.delete('{{ target }}')">Delete</button>
        <button onclick="Config.close()">Close</button>
    </div>
</div>
